@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-size: .14rem;
    box-sizing: border-box;
}
html{
    font-size: 625%;
}
a{
    text-decoration: none;
    color: #000;
}
html,body{
    width: 100%;
    height: 100%;
}
ul li,ol li{
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    height: .45rem;
    display: flex;
    background: #06c1ae;
    align-items: center;
    justify-content: center;
}
header a{
    flex:1;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a:nth-child(2){
    flex:4;
    background: #05a494;
    height: .35rem;
    border-radius: .05rem;
}
header a:nth-child(2) input{
    background: #05a494;
    border: none;
}
header a:nth-child(3){
    flex-direction: column;   
}
section{
    flex:1;
    overflow: auto;
    background: #f0efed;
}
section .banner img{
    width: 100%;
    height: auto;
    display: flex;
}
section .nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}
section .nav dl{
    flex:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .05rem 0;
}
section .nav dl dt {
    width: .4rem;
    height: .4rem;
    background: #f60;
    border-radius: 50%;
    color:#fff;
    font-size: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .nav dl dd{
    font-size: .12rem;
    padding-top: .05rem;
}
section .tw{
    width: 100%;
    background: #fff;
    margin-top: .1rem;
}
section ul{
    display: flex;
}
section ul li{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: .05rem 0;
}
section ul li h3{
    color:#55a40f;
    padding-top: .05rem;
    padding-left: .1rem;
}
section ul li p{
    font-size: .12rem;
    padding-top: .05rem;
    padding-left: .1rem;
}
section ul li span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:0;
}
section ul li span img{
   width: 60%;
   height: auto;
   margin-top: .05rem;
}
section .like{
    background: #fff;
    margin-top: 10px;
    padding: .1rem;
    border-bottom: .01rem solid #ccc;
}
section .main{
    width: 100%;
}
section .main dl{
    display: flex;
    border-bottom: .01rem solid #ccc;
    padding: .05rem 0;
    background: #fff;
}
section .main dl dt{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section .main dl dt img{
    width: 80%;
    height: auto;
}
section .main dl dd{
    flex:7.5;
    display: flex;
    flex-direction: column;
}
section .main dl dd p:nth-child(3){
    display: flex;
    justify-content: space-between;
    padding-right: .05rem;
}
section .main dl dd span:nth-child(1){
    color:#0bc2b0;
}
footer{
    height: .6rem;
    background: rgba(0,0,0,.9);
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    display: flex;
}
footer a{
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a:nth-child(1){ 
    flex:1.5;
}
footer a:nth-child(2){
    flex:2.5;
    flex-direction: column;
    align-items: flex-start;
}
footer a:nth-child(3){
    flex:2;
}
footer a:nth-child(1) span{
    background: #fff;
    width: .4rem;
    height: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .1rem;
}
footer a:nth-child(1) span em{
    font-style: normal;
    width: .35rem;
    height: .35rem;
    display: flex;
    border-radius: 50%;
    background: #0bc3ae;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a:nth-child(3) span{
    border: .02rem  solid  #0bc3ae;
    color:#0bc3ae;
    padding: .05rem .1rem;
}
